<!DOCTYPE html>
<html lang="en">
<head>

  <% include templates/plug-assets.ejs %>

  <title>Thank You</title>
  <link rel="stylesheet" href="assets/css/whyhyd.css">

</head>

<body>

  <% include templates/header.ejs %>

<div class="hero" id="hero1">
  <div class="jumbotron" id="j1">
    <div class="container">
      <h1>Form Submission Successful</h1>
      <h3>Thank you for subscribing to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, eius totam magni delectus aliquid, porro dolore distinctio dolorum voluptates accusamus.</h3>
    </div>
  </div>
</div>

<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <!-- <img src="images/logo.png" alt="" /> -->
      </div>
      <div class="col-sm-8 text-center">
        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p> -->
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro, in voluptate corporis dignissimos non provident neque ipsa, rerum! Architecto, ipsum modi maxime quod quae asperiores, fuga nihil porro pariatur.</h3>
      </div>
    </div>

    <br><br>
  </div>
</div>
<!-- /second section -->
<div class="container-fluid">
  <div class="jumbotron" id="text-filler">
    <div class="container">

    <!-- <h1 class="fill-head">Lorem ipsum dolor sit.</h1><br> -->
    <p class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde deserunt a labore suscipit reprehenderit eos exercitationem, nesciunt magnam nostrum quam cupiditate corporis illo enim necessitatibus consequuntur in nulla dolor magni.</p>
    <ul>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, saepe!
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatibus iste quam illo suscipit ullam velit in similique sit a?</li>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, suscipit.</li>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, culpa.</li>
    </ul>
    <br>
    <p class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eos minima iusto atque cupiditate, maiores tempora voluptas inventore delectus dicta numquam rerum aperiam obcaecati ipsum pariatur voluptates. Reiciendis aliquam provident est aspernatur possimus maiores doloribus a laudantium accusantium neque, at vel eveniet sed voluptas nihil fuga amet reprehenderit molestiae, ipsum aliquid perspiciatis. Ut nam pariatur adipisci tempore consequuntur nesciunt quisquam quasi, quibusdam culpa vero natus soluta laudantium vel id deserunt laboriosam ratione atque cupiditate ullam officia. Quis possimus dolor recusandae, nihil id odit eos ullam incidunt aliquam, nam aliquid nisi voluptates reprehenderit voluptatem dolorem ex doloribus qui. Illo, quo deleniti.</p>

  </div>
  </div>
</div>

<% include templates/footer-js.ejs %>

</body>
</html>
