<!DOCTYPE html>
<html lang="en">
<head>

  <% include templates/plug-assets.ejs %>

  <title>Thank You</title>
  <link rel="stylesheet" href="assets/css/formsuccess.css">

</head>

<body>

<div class="hero" id="hero1">
  <div class="jumbotron" id="j1">
    <div class="container">
      <h1>Thank you for subscribing</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi eveniet temporibus et nemo at delectus suscipit maiores rem, praesentium quasi in enim incidunt nobis repellat similique porro hic. Voluptatum voluptate reprehenderit, corrupti velit harum.</h3>
      <br><br>
      <a href="/" class="btn btn-default" role="button">BACK TO THE HOMEPAGE</a>
    </div>
  </div>
</div>

</body>
</html>
