<!DOCTYPE html>
<html lang="en">
<head>

  <% include templates/plug-assets.ejs %>

  <title>Privacy Policy</title>
  <link rel="stylesheet" href="assets/css/whyhyd.css">

</head>

<body>

  <% include templates/header.ejs %>

<div class="hero" id="hero1">
  <div class="jumbotron" id="j1">
    <div class="container">
      <h1>Privacy Policy</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</h3>
    </div>
  </div>
</div>

    <br><br>
  </div>
</div>
<!-- /second section -->
<div class="container-fluid">
  <div class="jumbotron" id="text-filler">
    <div class="container">

    <!-- <h1 class="fill-head">Lorem ipsum dolor sit.</h1><br> -->
    <p class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde deserunt a labore suscipit reprehenderit eos exercitationem, nesciunt magnam nostrum quam cupiditate corporis illo enim necessitatibus consequuntur in nulla dolor magni.</p>
    <ul>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, saepe!
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatibus iste quam illo suscipit ullam velit in similique sit a?</li>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, suscipit.</li>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, culpa.</li>
    </ul>
    <br>
    <p class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eos minima iusto atque cupiditate, maiores tempora voluptas inventore delectus dicta numquam rerum aperiam obcaecati ipsum pariatur voluptates. Reiciendis aliquam provident est aspernatur possimus maiores doloribus a laudantium accusantium neque, at vel eveniet sed voluptas nihil fuga amet reprehenderit molestiae, ipsum aliquid perspiciatis. Ut nam pariatur adipisci tempore consequuntur nesciunt quisquam quasi, quibusdam culpa vero natus soluta laudantium vel id deserunt laboriosam ratione atque cupiditate ullam officia. Quis possimus dolor recusandae, nihil id odit eos ullam incidunt aliquam, nam aliquid nisi voluptates reprehenderit voluptatem dolorem ex doloribus qui. Illo, quo deleniti.</p>

  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron" id="text-filler">
    <div class="container">

    <!-- <h1 class="fill-head">Lorem ipsum dolor sit.</h1><br> -->
    <p class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde deserunt a labore suscipit reprehenderit eos exercitationem, nesciunt magnam nostrum quam cupiditate corporis illo enim necessitatibus consequuntur in nulla dolor magni.</p>
    <ul>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, saepe!
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptatibus iste quam illo suscipit ullam velit in similique sit a?</li>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, suscipit.</li>
      <li class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, culpa.</li>
    </ul>
    <br>
    <p class="filler">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eos minima iusto atque cupiditate, maiores tempora voluptas inventore delectus dicta numquam rerum aperiam obcaecati ipsum pariatur voluptates. Reiciendis aliquam provident est aspernatur possimus maiores doloribus a laudantium accusantium neque, at vel eveniet sed voluptas nihil fuga amet reprehenderit molestiae, ipsum aliquid perspiciatis. Ut nam pariatur adipisci tempore consequuntur nesciunt quisquam quasi, quibusdam culpa vero natus soluta laudantium vel id deserunt laboriosam ratione atque cupiditate ullam officia. Quis possimus dolor recusandae, nihil id odit eos ullam incidunt aliquam, nam aliquid nisi voluptates reprehenderit voluptatem dolorem ex doloribus qui. Illo, quo deleniti.</p>

  </div>
  </div>
</div>
<br><br>
<% include templates/footer-js.ejs %>

</body>
</html>
