<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hyderabad Pharma City</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/custom1.css">
  <link rel="stylesheet" href="../transp.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
  <style>
  body {
        font-family: 'Cabin', serif;
        /* font-size: 48px; */
      }
  </style>
</head>

<body>
  <div class="header">
    <!-- navbar -->
    <nav class="my-nav navbar navbar-default">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <strong>HPC</strong>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav navbar-right">
          <li><a href="/whyhyd">WHY HYDERABAD</a></li>
          <li><a href="#contact">INSTITUTIONS</a></li>
          <li><a href="#contact">INCENTIVES</a></li>
          <li><a href="#contact">SETTING UP</a></li>
          <li><a href="#contact">CONTACT US</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

  <!-- carousel -->
  <div class="pimg">
    <div class="container">
    <div class="ptext text3">
      <span class="border">
        About HYDERABAD
      </span>
      <p class="sub3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, animi.</p>
    </div>
  </div>
  </div>
</div> <!-- /header -->

<section class="hero" id="hero1">
  <div class="jumbotron" id="j1">
    <div class="container">
      <h1>Brand HYDERABAD</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</h3>
    </div>
  </div>
</section>

<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="images/logo.png" alt="" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

<!-- random -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
      </div>
        <div class="col-sm-6">
          <img src="images/logo.png" alt="" />
        </div>
    </div>
  </div>
</div>

<!-- fourth section - Information -->
<div id="information" class="pad-section">
  <div class="container">
    <h1>Lorem ipsum dolor.</h1>
    <br>
    <br>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, consectetur voluptate quisquam placeat perspiciatis temporibus totam repellendus, dolorum debitis libero amet! Cumque expedita et perferendis quaerat dolor quod temporibus dolores.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor alias facilis adipisci molestiae maxime quod minus dolore asperiores dignissimos doloremque, mollitia beatae cupiditate labore sunt assumenda, nam recusandae expedita quo.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, consectetur voluptate quisquam placeat perspiciatis temporibus totam repellendus, dolorum debitis libero amet! Cumque expedita et perferendis quaerat dolor quod temporibus dolores.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor alias facilis adipisci molestiae maxime quod minus dolore asperiores dignissimos doloremque, mollitia beatae cupiditate labore sunt assumenda, nam recusandae expedita quo.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, consectetur voluptate quisquam placeat perspiciatis temporibus totam repellendus, dolorum debitis libero amet! Cumque expedita et perferendis quaerat dolor quod temporibus dolores.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor alias facilis adipisci molestiae maxime quod minus dolore asperiores dignissimos doloremque, mollitia beatae cupiditate labore sunt assumenda, nam recusandae expedita quo.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->


<!-- newsletter form -->

<div class="container-fluid" id="form-container">
  <div class="container">
    <p class="form-title">Subscribe for Updates</p>
    <form class="form-horizontal" action="/action_page.php">
      <div class="form-group">
        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" placeholder="Full Name" name="email">
        </div>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="pwd" placeholder="Industry" name="pwd">
        </div><br><br><br>

        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" placeholder="Email ID" name="email">
        </div>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="pwd" placeholder="Contact Number" name="pwd">
        </div>
      </div>
      <p class="descript">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsum temporibus possimus expedita modi quas consequatur sunt ipsa, illum, autem. Nulla, rerum, delectus. Porro ex animi repudiandae non aperiam, sunt pariatur eligendi optio blanditiis. Obcaecati nihil at consequatur temporibus mollitia non quam modi maxime. Dolor distinctio vero magni tempore vitae animi, quidem unde quo, autem recusandae voluptates nulla ut consequatur.
      </p>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> I have read and agreed to the Privacy Policy</label>
            <br>
            <label><input type="checkbox" name="remember"> I agree to my data being stored and used to receive news and promotional materials</label>
          </div>
      <div class="form-group" id="button">
          <button type="submit" class="btn btn-default">Stay Up to Date</button>
      </div>
    </form>
  </div>
</div>


<!-- footers and js plugins -->
<!-- pre-footer -->
<section class="pre-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <h5 class="foot-heading">Quick Links</h5>
        <ul class="unstyled">
          <li> Link 1
          <li> Link 2
          <li> Link 3
          <li> Link 4
          <li> Link 5
        </ul>
      </div>
      <div class="col-sm-2">
        <h5 class="foot-heading">Setup Guide</h5>
        <ul class="unstyled">
          <li> Link 1
          <li> Link 2
          <li> Link 3
          <li> Link 4
          <li> Link 5
        </ul>
      </div>


      <div class="col-sm-2">
        <h5 class="foot-heading">Useful Links</h5>
        <ul class="unstyled">
          <li> Link 1
          <li> Link 2
          <li> Link 3
          <li> Link 4
          <li> Link 5
        </ul>
      </div>
      <div class="col-sm-6">
        <h5 class="foot-heading">Head Office</h5>
        <p>Lorem ipsum dolor.<br>
  25/F Fairmont House, 8 Cotton Tree Drive, Central, Hong Kong<br>
  +852 xxxx xxxx | +852 xxxx xxxx |  lorem@loremipsum.gov.lorem<br>
  Opening Hours - 8:45 a.m. - 12:30 p.m. | 1:30 p.m. - 6:00 p.m.<br>
  Monday to Friday (closed on Saturdays, Sundays, and other public holidays)
  </p>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<footer>
  <div class="container">
    <p class="text-right">Copyright &copy; [random]company_name 20xx</p>
  </div>
</footer>
<!-- /footer -->



<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>


</body>
</html>
