<!-- pre-footer -->
<section class="pre-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <h5 class="foot-heading">Quick Links</h5>
        <ul class="unstyled">
          <li> Link 1
          <li> Link 2
          <li> Link 3
          <li> Link 4
          <li> Link 5
        </ul>
      </div>
      <div class="col-sm-2">
        <h5 class="foot-heading">Setup Guide</h5>
        <ul class="unstyled">
          <li> Link 1
          <li> Link 2
          <li> Link 3
          <li> Link 4
          <li> Link 5
        </ul>
      </div>


      <div class="col-sm-2">
        <h5 class="foot-heading">Useful Links</h5>
        <ul class="unstyled">
          <li> Link 1
          <li> Link 2
          <li> Link 3
          <li> Link 4
          <li> Link 5
        </ul>
      </div>
      <div class="col-sm-6">
        <h5 class="foot-heading">Head Office</h5>
        <p>Lorem ipsum dolor.<br>
  25/F Fairmont House, 8 Cotton Tree Drive, Central, Hong Kong<br>
  +852 xxxx xxxx | +852 xxxx xxxx |  lorem@loremipsum.gov.lorem<br>
  Opening Hours - 8:45 a.m. - 12:30 p.m. | 1:30 p.m. - 6:00 p.m.<br>
  Monday to Friday (closed on Saturdays, Sundays, and other public holidays)
  </p>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<footer>
  <div class="container">
    <p class="text-right">Copyright &copy; [random]company_name 20xx</p>
  </div>
</footer>
<!-- /footer -->



<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
