<!-- newsletter form -->
<div class="container-fluid" id="form-container">
  <div class="container">
    <p class="form-title">Subscribe for Updates</p>
    <form class="form-horizontal" method="post" action="/sendmail">
      <div class="form-group">
        <div class="col-sm-6">
          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="industry" name="indutry" placeholder="Industry">
        </div><br><br><br>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email ID" required>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Contact Number" required>
        </div>
      </div>
      <p class="descript">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsum temporibus possimus expedita modi quas consequatur sunt ipsa, illum, autem. Nulla, rerum, delectus. Porro ex animi repudiandae non aperiam, sunt pariatur eligendi optio blanditiis. Obcaecati nihil at consequatur temporibus mollitia non quam modi maxime. Dolor distinctio vero magni tempore vitae animi, quidem unde quo, autem recusandae voluptates nulla ut consequatur.
      </p>
          <div class="checkbox">
            <label><input type="checkbox" name="remember" required> I have read and agreed to the <a href="/privpol">Privacy Policy</a></label>
            <br>
            <label><input type="checkbox" name="remember" required> I agree to my data being stored and used to receive news and promotional materials</label>
          </div>
      <div class="form-group" id="button">
          <button type="submit" class="btn btn-default">Stay Up to Date</button>
      </div>
    </form>
  </div>
</div>
