/* navbar */
.my-nav {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 999;
  background: none;
  border: 0;
  border-radius: 0;
}
.my-nav .navbar-header .navbar-brand {
  color: white !important;
  font-size: 50px;
}
.my-nav .navbar-nav a {
  color: white !important;
  padding-left: 30px;
}
/* .my-nav .navbar-nav .dropdown a { */
  /* color: #2a2a2a !important; */
/* } */

/* carousel */
.my-carousel {
  /* position: absolute; */
  top: 0;
}

/* sections */
#j1 {
  padding: 100px;
  background-color: white;
  color: gray;
}
#hero2 {
  background-color: gray;
}
#j2 {
  padding: 100px;
  background-color: #296790;
  color: white;
}
/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* additional sections */
#home {
  background: url(../assets/images/p1.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about {
}
#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
#information {
  background: url(../assets/images/landind12.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px;
}
#information .panel {
  opacity: 0.85;
}
#google_map {
  height: 500px;
}

/* parallax shiz */
.pimg3 {
  postion: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed=parallax;
    scroll=normal;
  */
  background-attachment: fixed;
  background-image: url('../images/t1.jpeg');
  min-height: 600px;
}
.text3 .border {
  /* position: absolute; */
  padding-top: 400px;
  vertical-align: middle;
  top: 50%;
  width: 100%;
  text-align: left;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text3 .sub3 {
  /* position: absolute; */
  padding-top: 20px;
  vertical-align: middle;
  top: 50%;
  width: 100%;
  text-align: justify;
  color: #000;
  font-size: 20px;
  letter-spacing: 8px;
  /* text-transform: uppercase; */
}

.pimg2 {
  postion: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed=parallax;
    scroll=normal;
  */
  background-attachment: fixed;
  background-image: url('../images/t2.jpeg');
  min-height: 600px;
}
.text2 .border {
  /* position: absolute; */
  padding-top: 400px;
  vertical-align: middle;
  top: 50%;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text2 .sub2 {
  /* position: absolute; */
  padding-top: 20px;
  vertical-align: middle;
  top: 50%;
  width: 100%;
  text-align: justify;
  color: white;
  font-size: 20px;
  letter-spacing: 8px;
  /* text-transform: uppercase; */
}

#pre-form {
  background-color: #3D7BA0;
  color: white;
  padding: 100px;
}

/* form */
#form-container {
  /* background-color: gray; */
}
.form-title {
  text-align: center;
  font-size: 45px;
  padding-top: 150px;
  padding-bottom: 30px;
}
.form-control {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.descript, .checkbox {
  padding-top: 10px;
  font-size: 18px;
  text-align: justify;
}
#button {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 100px;
}
.btn-default {
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 0;
}

.pre-footer {
  font-size: 15px;
  padding: 50px;
  color: white;
  background-color: #2a394a;
}

.pre-footer ul {
  list-style-type: none;
}

footer {
  color: white;
  background-color: #0e1318;
  padding-top: 10px;
}
.foot-heading {
  font-size: 17px;s
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
