body {
      font-family: 'Cabin', serif;
      /* font-size: 48px; */
    }
.header {
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: -10px;
}
.hero {
  padding: 16px;
}
.sticky {
  z-index: 99;
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .hero {
  padding-top: 1000px;
}
.navbar-inverse {
  background-color: #000;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-brand {
  font-size: 40px;
}
#hero1 {
  margin-top: 0;
  padding: 0px 10px;
  background-color: white;
}
#j1 {
  background-image: url('../images/thr3-eyes-173627-unsplash.jpg');
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
  min-height: 650px;
  border-radius: 0.1px;
  color: white;
  padding-top: 300px;
}
#about {
  padding: 100px;
}
.filler {
  font-size: 22px;
}
#text-filler {
  padding: 10px 10px;
  border-radius: 0;
  background-color: white;
  padding-bottom: 100px;
}
#hero3 {
  padding: 0px 10px;
}
#j3 {
  background-color: #e8e7e8;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.9;
  min-height: 400px;
  border-radius: 0.1px;
  color: #000;
  padding-top: 100px;
  margin-bottom: 15px;
}
#hero4 {
  padding: 0px 10px;
}
#j4 {
  background-color: #000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.9;
  min-height: 500px;
  border-radius: 0.1px;
  color: white;
  padding-top: 85px;
  padding-bottom: 85px;
}
#j4 .glyphicon {
  /* border: 1px solid #FFFFFF; */
  border: 3px solid #e8175d;
  border-radius: 50%;
  display: inline-block;
  font-size: 45px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
  width: 120px;
}
#j4 p {
  font-size: 18px;
}
#hero5 {
  padding: 0px 10px;
}
#j5 {
  background-color: #000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.9;
  min-height: 250px;
  border-radius: 0.1px;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 15px;
}
#hero6 {
  padding: 0px 10px;
}
#j6 {
  background-image: url(../images/jakob-owens-251440-unsplash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
  min-height: 400px;
  border-radius: 0.1px;
  color: #fff;
  padding: 80px;
  margin-bottom: 15px;
}
#hero7 {
  padding: 0px 10px;
}
#j7 {
  background-image: url(../images/andre-benz-258980-unsplash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
  min-height: 400px;
  border-radius: 0.1px;
  color: #fff;
  padding: 80px;
  margin-bottom: 15px;
}
#information {
  padding: 100px;
}
#form-container {
  /* background-color: gray; */
}
.form-title {
  text-align: center;
  font-size: 45px;
  padding-top: 150px;
  padding-bottom: 30px;
}
.form-control {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.descript, .checkbox {
  padding-top: 10px;
  font-size: 18px;
  text-align: justify;
}
#button {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 100px;
}
.btn-default {
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 0;
}

#hero2 {
  font-size: 15px;
  padding: 50px 10px;;
  color: white;
  background-color: #2a394a;
}
/* pre-footer */
#prefoot-cont {
  padding: 0px 10px;
}
#prefoot {
  /* background-color: rgb(65, 71, 78); */
  background-color: #2a394a;
  background-attachment: fixed;
  opacity: 0.9;
  font-size: 15px;
  /* min-height: 600px; */
  border-radius: 0.1px;
  color: white;
}
.foot-heading {
  font-size: 17px;s
}
#prefoot ul {
  list-style-type: none;
}
#prefoot p {
  font-size: 15px;
}
/* footer */
#foot-cont {
  padding: 0px 10px;
  padding-bottom: 0px;
}
#foot {
  /* background-color: #0e1318; */
  color: white;
  padding: 10px;
  border-radius: 0;
}
#foot p {
  font-size: 15px;
}
#foot .glyphicon {
  color: #333333;
  font-size: 60px;
}
#foot .glyphicon:hover {
  color: #306d9f;
}
